* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.area {
    width: 100%;
    height: 100vh;
    position: relative;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

img {
    width: 100%;
}

.model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}

h1 {
    text-transform: uppercase;
}

.yellow_text {
    font-size: 4em;
    text-align: center;
    color: yellow;
}

.green_text {
    font-size: 4em;
    text-align: center;
    color: green; 
}

.link {
    position: fixed;
    z-index: 9999;
    list-style-type: none;
    right: 0;
}

li {
    display: inline-block;
    border-radius: 50%;
}

a {
    border: white solid 1px;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 3em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

li:hover a{
    box-shadow: 0px 8px 15px black

}